<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Application Created</h1>
  <p>
    You have succesfully created an application for <%= @job.company %>,
    your username is: <%= @user.email %><br>
  </p>
  <p>
    To track your progress and receive updates, just follow this link: <%= @url %>.
  </p>
  <p>Have a great day!</p>
</body>
</html>
