.hero-section {
  height: auto;
  background-image: -webkit-linear-gradient(270deg, rgba(22, 45, 121, .8), hsla(0, 0%, 100%, .5)), url("https://pixabay.com/static/uploads/photo/2015/03/26/09/41/tie-690084_960_720.jpg");

  background-image: linear-gradient(180deg, rgba(22, 45, 121, .8), hsla(0, 0%, 100%, .5)), url("https://pixabay.com/static/uploads/photo/2015/03/26/09/41/tie-690084_960_720.jpg");
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
}

.video-section {
  background-color: #222;
}

.footer-section {
  /*background-color: #4f79a7*/
  background-color: rgba(79, 121, 167, 1)
}

.hero-container {
  width: 100vw;
  padding-top: 9px;
  padding-bottom: 125px;
  border-right: 2px none #fff;
  border-left: 2px none #fff;
  /*background-color: #a6cae4;*/
  background-color: rgba(79, 121, 167, 0.5)

}

.franc-header {
  margin-top: 5px;
  font-family: 'Lobster Two', sans-serif;
  font-size: 150px;
  line-height: 150px;
  font-weight: 400;
  text-align: center;
}

.slogan-header {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Caveat, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

.header-div {
  display: block;
  margin: 100px auto 50px;
  padding: 75px 10px 50px;
  color: #f5f5f5;
}

.hero-cta-box {
  margin: 175px -5px 30px 0px;
  padding: 15px 20px;
  /*border-style: none dotted none none;*/
  border-width: 9px 5px 2px 2px;
  border-color: #241c4b #222 #241c4b #241c4b;
  border-radius: 40px 4px 4px 40px;
  background-color: hsla(0, 55%, 62%, .95);
  box-shadow: -7px 5px 0 4px rgba(0, 0, 0, .5), -6px 16px 30px 3px rgba(31, 31, 31, .5);
  text-align: center;
}

.header-cta-button {
  display: block;
  margin-right: 30px;
  margin-bottom: 15px;
  margin-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #000;
  border-radius: 100px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .5);
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 18px;
}

.header-cta-button:hover {
  background-color: #222;
  color: #f5f5f5;
  text-decoration: none;
}

.cta-box-header {
  margin-top: 10px;
  margin-bottom: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  color: #f5f5f5;
}

.nav-section {
  position: fixed;
  width: 100%;
  padding-top: 0px;
  background-color: #f5f5f5;
}

.scroll-down {
  position: static;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.scroll-down-div {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.video-container {
  margin-bottom: 10px;
  padding: 25px 30px 50px;
  text-align: center;
}

.video-player {
  display: block;
  width: 850px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.multi-col-section {
  background-color: white;
}

.multi-col-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.multi-col-rows {
  margin-bottom: 25px;
}

.multi-col-row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.multi-col-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.multi-col-header {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.multi-col-text {
  margin-bottom: 10px;
  padding: 10px 15px;
  font-family: Bitter, serif;
  text-align: center;
}

.contact-section {
  /*background-color: #ebebeb;*/
  height: auto;
  background-image: -webkit-linear-gradient(270deg, rgba(22, 45, 121, .8), hsla(0, 0%, 100%, .5)), url("http://www.janelholland.com/wp-content/uploads/2016/03/Dollarphotoclub_86346713.jpg");

  background-image: linear-gradient(180deg, rgba(22, 45, 121, .8), hsla(0, 0%, 100%, .5)), url("http://www.janelholland.com/wp-content/uploads/2016/03/Dollarphotoclub_86346713.jpg");
  background-position: 0px 0px, 80% 60%;
  background-size: auto, 200%;
}

.contact-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(79, 121, 167, 0.5)
  /*background-color: #a6cae4;*/
  /*background-color: #4f79a7;*/
}

.contact-form {
  display: block;
  width: 600px;
  margin: 14px auto 30px;
  padding: 20px 60px;
  border: 1px none #fff;
  background-color: transparent;
  text-align: left;
}

.field-label {
  color: #dcdcdc;

  margin-bottom: 0px;
  padding-left: 15px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.text-field {
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #000;
  border-radius: 100px;
  text-align: center;
}

.contact-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 50px;
  border: 1px solid #dcdcdc;
;
  border-radius: 25px;
  background-color: transparent;
  color: #dcdcdc;
}

.contact-button:hover {
  background-color: #4f79a7;
  color: #f5f5f5;
}

.nav-link {
  margin-top: 5px;
  font-family: Exo, sans-serif;
  font-size: 16px;
}

.logo-div {
  padding: 0px;
}

.logo-img {
  padding: 10px;
}

.contact-header {
  font-family: 'Fjalla One', sans-serif;
  color: #f5f5f5;
  text-align: center;
}

.video-title {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Fjalla One', sans-serif;
  color: #dcdcdc;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.footer-text {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #f5f5f5;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.about-text {
  margin-bottom: 10px;
  padding: 10px 30px;
  font-family: 'PT Sans', sans-serif;
  color: #dcdcdc;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
}

.video-subheader {
  margin-bottom: 20px;
  padding: 10px 15px;
  font-family: 'Fjalla One', sans-serif;
  color: #dcdcdc;
  font-size: 18px;
  line-height: 16px;
}

.contact-text {
  color: #dcdcdc;
  display: block;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  font-family: Bitter, serif;
  text-align: center;
}

html.w-mod-js *[data-ix="new-interaction"] {
  opacity: 0;
  -webkit-transform: translate(-800px, 0px);
  -ms-transform: translate(-800px, 0px);
  transform: translate(-800px, 0px);
}

html.w-mod-js *[data-ix="franc-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 600px);
  -ms-transform: translate(0px, 600px);
  transform: translate(0px, 600px);
}

@media (max-width: 991px) {
  .franc-header {
    font-size: 100px;
    line-height: 100px;
  }
  .slogan-header {
    font-size: 38px;
    line-height: 44px;
    text-align: center;
  }
  .header-div {
    display: block;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  .hero-cta-box {
    margin-top: 15px;
    margin-right: 0px;
    padding-right: 100px;
    padding-left: 100px;
    border-right-style: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .video-player {
    width: 650px;
  }
  .hero-cta-column {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .franc-header {
    margin-top: 0px;
  }
  .slogan-header {
    padding-left: 0px;
    font-size: 34px;
    line-height: 38px;
  }
  .header-div {
    margin-top: 30px;
    padding-top: 45px;
    padding-bottom: 20px;
  }
  .hero-cta-box {
    padding-right: 65px;
    padding-left: 65px;
  }
  .header-cta-button {
    margin-right: 0px;
    margin-left: 0px;
  }
  .video-player {
    width: 450px;
  }
  .contact-form {
    width: 500px;
  }
  .about-text {
    padding-right: 20px;
    padding-left: 25px;
    text-align: left;
  }
  .video-subheader {
    padding-left: 25px;
  }
}

@media (max-width: 479px) {
  .hero-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .franc-header {
    font-size: 90px;
    line-height: 90px;
    font-weight: 400;
  }
  .slogan-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 25px;
    line-height: 32px;
  }
  .header-div {
    padding: 35px 0px 0px;
  }
  .hero-cta-box {
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 25px 30px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .cta-box-header {
    margin-top: 0px;
  }
  .video-player {
    width: 250px;
  }
  .contact-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .contact-form {
    width: 300px;
    margin-top: 0px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .field-label {
    padding-left: 0px;
  }
  .video-title {
    font-size: 35px;
  }
  .hero-cta-column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .about-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .video-subheader {
    margin-top: 8px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 28px;
    line-height: 32px;
  }
}
