// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#joblist {
  margin: 0 auto;
}

table {
  margin: 0 auto;
  text-align: left;
}

.success {
  background-color: #6BDA6B;
padding: 20px;
max-width: 50%;
margin: 0 auto;
color: white;
font-size: 18px;
margin-top: 10px;

}
