// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
  text-align: center
  background-color: black

#tieBackground
  background-image: url(https://pixabay.com/static/uploads/photo/2015/03/26/09/41/tie-690084_960_720.jpg)
  background-position: center
  background-size: cover
  height: 400px

.buttonHolder
  padding: 50px
  background-color: rgba(42, 84, 89, 0.6)
  color: white
  height: 300px

.customButtonA
  color: white
  text-decoration: none
  text-transform: uppercase
  display: inline-block
  height: 30px
  text-align: center
  width: 100px
  background-color: rgba(114, 219, 233,0.5)
  border: 4px solid rgba(114, 219, 233,0.5)
  border-radius: 50px
  padding-top: 10px
  margin: 50px

  &:hover
    background-color: rgba(114, 219, 233, 1)
    cursor: pointer
    -webkit-box-shadow: -1px 0px 30px 6px rgba(0,0,0,0.20)
    -moz-box-shadow: -1px 0px 30px 6px rgba(0,0,0,0.20)
    box-shadow: -1px 0px 30px 6px rgba(0,0,0,0.20)
  &:visited
    color: white
